In [753]:
import numpy as np
import pandas as pd

# 1

In [755]:
mulai = int(input('Mulai : '))
selesai = int(input('Selesai : '))

Mulai : 1
Selesai : 28

## 1D

In [756]:
d1 = np.arange(mulai,selesai)
d1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27])

## 2D

In [757]:
d2 = d1.reshape(3,-1)
d2

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24, 25, 26, 27]])

## 3D

In [758]:
d3 = d1.reshape(3,3,3)
d3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

# 2

In [759]:
banyakdata=int(input("Banyak Data : "))
mulai=int(input("Mulai : "))
selesai=int(input("Selesai : "))

Banyak Data : 16
Mulai : 1
Selesai : 50

## 1D

In [760]:
d1 = np.random.randint(mulai,selesai,banyakdata)
d1

array([36,  7,  9, 38, 15, 10, 27, 23, 38, 25, 16, 34,  9, 19, 37, 38])

## 2D

In [761]:
d2 = d1.reshape(4,-1)
d2

array([[36,  7,  9, 38],
       [15, 10, 27, 23],
       [38, 25, 16, 34],
       [ 9, 19, 37, 38]])

## Tukar Posisi

### Pilihan Jawaban 1

In [762]:
d2[:,::-1]

array([[38,  9,  7, 36],
       [23, 27, 10, 15],
       [34, 16, 25, 38],
       [38, 37, 19,  9]])

### Pilihan Jawaban 2

In [763]:
np.fliplr(d2)

array([[38,  9,  7, 36],
       [23, 27, 10, 15],
       [34, 16, 25, 38],
       [38, 37, 19,  9]])

# 3

## Pilihan Jawaban 1

In [764]:
no3 = np.ones((10,10))*4
no3[1:-1,1:-1]=0
no3

array([[4., 4., 4., 4., 4., 4., 4., 4., 4., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 4., 4., 4., 4., 4., 4., 4., 4., 4.]])

## Pilihan Jawaban 2

In [765]:
no3 = np.zeros((8,8))
no3 = np.pad(no3,pad_width=1, mode='constant', constant_values=4)
no3

array([[4., 4., 4., 4., 4., 4., 4., 4., 4., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 0., 0., 0., 0., 0., 0., 0., 0., 4.],
       [4., 4., 4., 4., 4., 4., 4., 4., 4., 4.]])

# 4

## Pilihan Jawaban 1

In [766]:
import string
no4 = np.arange(1,27)
depan = list(string.ascii_lowercase)
no4 = pd.Series(no4,depan)
no4

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int32

## Pilihan Jawaban 2

In [767]:
no4 = np.arange(1,27)
depan = list('abcdefghijklmnopqrstuvwxyz')
no4 = pd.Series(no4,depan)
no4

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int32

# 5

## Series menggunakan angka random integer dari 1 hingga 5 sebanyak 100

### Pilihan Jawaban 1

In [768]:
no5 = np.random.randint(1,5,100)
no5 = pd.Series(no5)
no5

0     3
1     3
2     1
3     3
4     1
     ..
95    3
96    3
97    1
98    1
99    2
Length: 100, dtype: int32

### Pilihan Jawaban 2

In [780]:
series = pd.Series(np.random.randint(1,5,100))
series

0     4
1     1
2     3
3     1
4     1
     ..
95    2
96    2
97    4
98    2
99    3
Length: 100, dtype: int32

## Banyaknya Frekuensi Tiap Angka

In [770]:
hitung = no5.value_counts()
hitung

4    32
3    31
1    20
2    17
dtype: int64

## 2 Nilai dengan Frekuensi Tertinggi

### Pilihan Jawaban 1

In [784]:
df = hitung.to_frame(name='Frequency').sort_values('Frequency',ascending=False).head(2).reset_index()
df = df.rename(columns={'index':'value'})
df

   value  Frequency
0      4         32
1      3         31

### Pilihan Jawaban 2

In [785]:
pd.DataFrame(series.value_counts().reset_index()).rename(columns={'index':'value',0:'frekuensi'}).head(2)

   value  frekuensi
0      1         32
1      3         28

# 6

In [786]:
import seaborn as sns
mpg = sns.load_dataset('mpg')

In [787]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [788]:
mpg.describe(include=object)

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

In [789]:
mpg.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [790]:
mpg.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

# 7

In [791]:
mpg[mpg['horsepower'].isna()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [792]:
mpg[mpg['horsepower'].isna()].index

Int64Index([32, 126, 330, 336, 354, 374], dtype='int64')

# 8

In [793]:
mpg.groupby('model_year').mean()['horsepower']

model_year
70    147.827586
71    107.037037
72    120.178571
73    130.475000
74     94.230769
75    101.066667
76    101.117647
77    105.071429
78     99.694444
79    101.206897
80     77.481481
81     81.035714
82     81.466667
Name: horsepower, dtype: float64

# 9

In [794]:
mpg['horse_origin'] = np.where(mpg['horsepower']>105,'upper '+mpg['origin'],'lower '+mpg['origin'])
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horse_origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper usa
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,lower usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,lower europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,lower usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,lower usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,lower usa

# 10

In [795]:
mpg.groupby('origin')['weight'].agg(['mean', 'std', 'sum','count', 'min', 'max']).reset_index()

   origin         mean         std     sum  count   min   max
0  europe  2423.300000  490.043191  169631     70  1825  3820
1   japan  2221.227848  320.497248  175477     79  1613  2930
2     usa  3361.931727  794.792506  837121    249  1800  5140