In [49]:
import pandas as pd 
from scipy import stats
pd.set_option('display.max_columns',None)

In [2]:
df = pd.read_csv('melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

# 1

In [29]:
df.describe()[['Rooms','Distance','Landsize','Price']]

              Rooms      Distance       Landsize         Price
count  13580.000000  13580.000000   13580.000000  1.358000e+04
mean       2.937997     10.137776     558.416127  1.075684e+06
std        0.955748      5.868725    3990.669241  6.393107e+05
min        1.000000      0.000000       0.000000  8.500000e+04
25%        2.000000      6.100000     177.000000  6.500000e+05
50%        3.000000      9.200000     440.000000  9.030000e+05
75%        3.000000     13.000000     651.000000  1.330000e+06
max       10.000000     48.100000  433014.000000  9.000000e+06

# 2

## a

In [26]:
df.nlargest(1,'Price').Rooms

12094    3
Name: Rooms, dtype: int64

## b

In [25]:
df.groupby('Distance').mean().Price.head(1)

Distance
0.0    671166.666667
Name: Price, dtype: float64

## c

In [35]:
avgland = df.Landsize.mean()
stdev = df.Landsize.std()
df[(df.Landsize > avgland) & (df.Landsize < stdev+avgland)].Price.mean()

1267231.1335863378

## d

In [41]:
df[df.Regionname=='Southern Metropolitan'].Price.max()-df[df.Regionname=='Southern Metropolitan'].Price.min()

7869000.0

# 3

In [43]:
q1_price = df.Price.quantile(0.25)
q3_price = df.Price.quantile(0.75)
iqr_price = q3_price - q1_price
print(f'''Q1 = {q1_price}
Q3 = {q3_price}
IQR = {iqr_price}''')

Q1 = 650000.0
Q3 = 1330000.0
IQR = 680000.0

In [48]:
print('Outlier =',(df.Price < (q1_price-1.5*iqr_price)).sum() + (df.Price > (q3_price+1.5*iqr_price)).sum())

Outlier = 612

# 4

## Shapiro WIlk Test

In [52]:
stat,pval = stats.shapiro(df.Price)
if pval <= 0.05:
    print('Distribusi tidak normal')
else:
    print('Distribusi normal')

Distribusi tidak normal

## D’Agostino and Pearson’s Test

In [53]:
stat,pval = stats.normaltest(df.Price)
if pval <= 0.05:
    print('Distribusi tidak normal')
else:
    print('Distribusi normal')

Distribusi tidak normal

# 5

In [54]:
df.Rooms.corr(df.Price)

0.49663367618652576

# 6

In [63]:
df.groupby('Regionname').Rooms.corr(df.Price).nlargest(1)

Regionname
Southern Metropolitan    0.683744
Name: Rooms, dtype: float64

# 7

In [61]:
df.Distance.corr(df.Price,method='spearman')

-0.12998984131880323

# 8

## a)

In [64]:
df.groupby('Regionname').Distance.corr(df.Price).nsmallest(1)

Regionname
Northern Metropolitan   -0.368552
Name: Distance, dtype: float64

## b)

In [67]:
df.groupby('Regionname').Distance.corr(df.Price).nlargest(1)

Regionname
Northern Victoria    0.089566
Name: Distance, dtype: float64

# 9

In [68]:
stat,pval = stats.spearmanr(df.Method,df.Type)
if pval <= 0.05 :
    print('Tolak H0, Kedua variabel berkaitan')
else :
    print('Terima H0, Kedua variabel tidak berkaitan')

Tolak H0, Kedua variabel berkaitan

# 10

In [5]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [100]:
df.groupby('Regionname').mean()['Price']

Regionname
Eastern Metropolitan          1.104080e+06
Eastern Victoria              6.999808e+05
Northern Metropolitan         8.981711e+05
Northern Victoria             5.948293e+05
South-Eastern Metropolitan    9.229438e+05
Southern Metropolitan         1.372963e+06
Western Metropolitan          8.664205e+05
Western Victoria              3.975234e+05
Name: Price, dtype: float64

In [104]:
stat,pval = stats.kruskal(
    df[df.Regionname=='Eastern Metropolitan']['Price'],
    df[df.Regionname=='Eastern Victoria']['Price'],
    df[df.Regionname=='Northern Metropolitan']['Price'],
    df[df.Regionname=='Northern Victoria']['Price'],
    df[df.Regionname=='South-Eastern Metropolitan']['Price'],
    df[df.Regionname=='Southern Metropolitan']['Price'],
    df[df.Regionname=='Western Metropolitan']['Price'],
    df[df.Regionname=='Western Victoria']['Price'])
if pval <= 0.05 :
    print('Tolak H0, Ada perbedaan rata-rata harga berdasarkan region')
else :
    print('Terima H0, Tidak ada perbedaan rata-rata harga berdasarkan region')

Tolak H0, Ada perbedaan rata-rata harga berdasarkan region